<%- include ('partials/header.ejs') %>
    <%- include ('partials/menu-navbar.ejs') %>

        <div class="home">
            <h1 class="home-h1">Bem vindo de volta <span class="home-span">Bernardo!</span></h1>

            <h2 class="home-text">Acessos Recentes</h2>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Nome do Dono</th>
                        <th>Contato</th>
                        <th>Data</th>
                    </tr>
                </thead>
                <tbody>
                    <% gatos.forEach(gato => { %>
                        <tr>
                            <td>ID <%= gato._id %></td>
                            <td><%= gato.nomeGato %></td>
                            <td><%= gato.nomeDono %></td>
                            <td><%= gato.telefoneDono %></td>
                            <td><%= new Date(gato.createdAt).toLocaleDateString() %></td> <!-- Assumindo que você tenha uma data de criação -->
                        </tr>
                    <% }); %>
                </tbody>
            </table>


            <div class="card-cat">
                <h3>O que você pode fazer por aqui?</h3>
                <div class="group-cat">
                    <div class="content-cat">
                        <div class="cat-item">
                            <img src="/home/img/Group 15.svg" alt="">
                            <p>Cadastro ilimitado de gatos!</p>
                        </div>
                        <div class="cat-item">
                            <img src="/home/img/Group 15.svg" alt="">
                            <p>Relatórios eficientes!</p>
                        </div>
                        <div class="cat-item">
                            <img src="/home/img/Group 15.svg" alt="">
                            <p>Apenas cadastre o gato e receba os resultados! O resto? Deixa com a gente</p>
                        </div>
                        <div class="cat-item">
                            <img src="/home/img/Group 15.svg" alt="">
                            <p>Uma análise para te auxiliar em tratamentos</p>
                        </div>
                    </div>

                    <div  class="img-cat">

                        <img src="/home/img/unsplash_CEx86maLUSc-removebg-preview 1.svg" alt="">
                    </div>
                
                
                </div>
            </div>
        </div>

        